:root {
  --color1: rgb(22, 22, 22);
  --color2: #543399;
  --color3: #161374;
  --color4: rgb(46, 45, 45);
  --color5: grey;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color1);
  min-height: 100vh;
  padding: 20px;
  font-family: "Fredoka", sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 20% 60%;
  justify-content: space-around;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--color4);
  border: 5px;
  border-style: solid;
  border-color: var(--color2);
}

#logo {
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav h3 {
  font-family: sans-serif;
  margin: auto;
  font-size: 6.9rem;
  background: -webkit-linear-gradient(var(--color2) 10%, var(--color3) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main h1 {
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  color: var(--color5);
  margin: 25px 0 30px 0;
}

.main-header {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  min-height: 500px;
  justify-content: space-between;
}
.why {
  background-color: var(--color4);
  border: 5px;
  border-style: solid;
  border-color: var(--color3);
  border-radius: 20px;
  padding: 40px;
}
.why h3 {
  text-align: center;
  font-size: 3rem;
  color: var(--color5);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.why p {
  color: var(--color5);
  font-size: 1.5rem;
}
.us {
  background-color: var(--color4);
  border: 5px;
  border-style: solid;
  border-color: var(--color2);
  border-radius: 20px;
  padding: 40px;
}
.us h3 {
  text-align: center;
  font-size: 3rem;
  color: var(--color5);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.us p {
  color: var(--color5);
  font-size: 1.5rem;
}
.goals {
  background-color: var(--color4);
  border: 5px;
  border-style: solid;
  border-color: var(--color3);
  border-radius: 20px;
  padding: 40px;
}
.goals h3 {
  text-align: center;
  font-size: 3rem;
  color: var(--color5);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.goals p {
  color: var(--color5);
  font-size: 1.5rem;
}
.main-body {
  min-height: 600px;
  background-color: var(--color4);
  margin: 50px 0;
  padding: 40px;
  border-radius: 20px;
  border: 5px;
  border-style: solid;
  border-color: var(--color2);
}
.main-body h3 {
  font-size: 3.5rem;
  color: var(--color5);
  text-align: center;
  margin: 10px 0 40px 0;
  text-transform: uppercase;
}
.img-container-collection {
  border: 0;
  border-right: 5px;
  border-style: solid;
  border-color: var(--color2);
}
.collections p {
  color: var(--color5);
  font-size: 1.5rem;
  padding: 20px;
}
#collection-1 {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
  margin-bottom: 40px;
  border: 5px;
  border-style: solid;
  border-color: var(--color3);
  border-radius: 20px;
}
#collection-1 img {
  width: 100%;
}
#collection-2 {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
  margin-bottom: 40px;
  border: 5px;
  border-style: solid;
  border-color: var(--color2);
  border-radius: 20px;
}
#collection-2 img {
  width: 100%;
}
#collection-3 {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
  margin-bottom: 40px;
  border: 5px;
  border-style: solid;
  border-color: var(--color3);
  border-radius: 20px;
}
#collection-3 img {
  width: 100%;
}
.masterclass {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  min-height: 400px;
  color: var(--color5);
}
.masterclass div {
  border: 5px;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--color2);
  margin: 0 20px;
}
#how {
  border-color: var(--color3);
}
.masterclass h4 {
  font-size: 2.5rem;
  color: var(--color5);
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
.masterclass p {
  font-size: 1.5rem;
  padding: 20px;
}
.receive {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--color4);
  margin: 50px 0;
  border: 5px;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--color3);
}
.receive-left {
  padding: 20px;
}
.receive img {
  width: 100%;
}
.receive-right {
  padding: 20px;
}
.receive-right h4 {
  text-align: center;
  margin: 15px;
  color: var(--color5);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.receive-right p {
  font-size: 1.5rem;
  color: var(--color5);
}
.pay {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--color4);
  margin: 50px 0;
  border: 5px;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--color2);
}
.pay-left {
  padding: 20px;
}
.pay img {
  width: 100%;
}
.pay-right {
  padding: 20px;
}
.pay-right h4 {
  text-align: center;
  margin-bottom: 15px;
  color: var(--color5);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.pay-right p {
  font-size: 1.5rem;
  color: var(--color5);
}
#info-title {
  text-align: center;
  color: var(--color5);
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.infos {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-between;
}

.info-img img {
  width: 100%;
}
.info1 {
  background-color: var(--color4);
  border: 5px;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color2);
}
.info1 h3 {
  text-align: center;
  color: var(--color5);
  font-size: 1.5rem;
}
.info1 p {
  padding: 20px;
  color: var(--color5);
}
.info2 {
  background-color: var(--color4);
  border: 5px;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color3);
}
.info2 h3 {
  text-align: center;
  color: var(--color5);
  font-size: 1.5rem;
}
.info2 p {
  padding: 20px;
  color: var(--color5);
}
.info3 {
  background-color: var(--color4);
  border: 5px;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color2);
}
.info3 h3 {
  text-align: center;
  color: var(--color5);
  font-size: 1.5rem;
}
.info3 p {
  padding: 20px;
  color: var(--color5);
}
.info4 {
  background-color: var(--color4);
  border: 5px;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color3);
}
.info4 h3 {
  text-align: center;
  color: var(--color5);
  font-size: 1.5rem;
}
.info4 p {
  padding: 20px;
  color: var(--color5);
}
