$color1: rgb(22, 22, 22);
$color2: #543399;
$color3: #161374;
$color4: rgb(46, 45, 45);
$color5: grey;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
