$color1: #ededed;
$color2: #ddae94;
$color3: #da9cc0;
$color4: #cdc5c5;
$color5: #9e7dcf;
$color6: #8b8b8b;
$color7: #161616;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
