@font-face {
  font-family: Merri;
  src: url(../font/Merriweather/Merriweather-Black.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../font/Oswald/OFL.txt);
}
@font-face {
  font-family: Chewy;
  src: url(../font/Chewy/Chewy-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #cdc5c5;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header img {
  width: 90%;
  max-width: 600px;
}

.section1 {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto 120px;
  background: #161616;
  border-radius: 40px;
  padding: 80px 0;
  text-align: center;
}
.section1 .header {
  margin: 0 auto 60px;
  width: 80%;
  border-bottom: 1px dashed #ddae94;
}
.section1 .header h1 {
  color: #ededed;
  font-size: 7rem;
  font-family: Chewy;
  margin-top: -40px;
}
@media screen and (max-width: 750px) {
  .section1 .header h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 580px) {
  .section1 .header h1 {
    font-size: 3rem;
    margin-top: -20px;
  }
}
@media screen and (max-width: 330px) {
  .section1 .header h1 {
    font-size: 2rem;
    margin-top: -10px;
  }
}
.section1 .header h2 {
  margin: 20px auto 50px;
  color: #9e7dcf;
  text-transform: uppercase;
  font-family: Merri;
  font-size: 1.5rem;
  letter-spacing: 4px;
}
@media screen and (max-width: 950px) {
  .section1 .header h2 {
    font-size: 1rem;
  }
}
.section1 .product-part {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  color: #ededed;
}
@media screen and (max-width: 700px) {
  .section1 .product-part {
    grid-template-columns: 1fr;
    grid-column-end: auto;
    border-bottom: 1px solid #ededed;
  }
}
.section1 .product-part:last-child {
  padding-bottom: 50px;
  border-bottom: 1px dashed #9e7dcf;
}
@media screen and (max-width: 700px) {
  .section1 .product-part:last-child {
    padding-top: 40px;
  }
}
.section1 .product-part .img-container {
  border-radius: 50px;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
}
.section1 .product-part #product1 {
  background: #da9cc0;
}
.section1 .product-part #product2 {
  background: #9e7dcf;
}
@media screen and (max-width: 700px) {
  .section1 .product-part #product2 {
    margin-bottom: 40px;
  }
}
.section1 .product-part #product3 {
  background: #ddae94;
}
.section1 .product-part img {
  width: 100%;
  margin: 0 auto;
}
.section1 .product-part .text-container {
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section1 .product-part h2 {
  margin: 20px auto;
  font-family: Merri;
  font-size: 2.5rem;
}
@media screen and (max-width: 1300px) {
  .section1 .product-part h2 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1100px) {
  .section1 .product-part h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .section1 .product-part h2 {
    font-size: 1.8rem;
  }
}
.section1 .product-part p {
  font-family: Oswald;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 1300px) {
  .section1 .product-part p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1100px) {
  .section1 .product-part p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .section1 .product-part p {
    font-size: 0.8rem;
  }
}
.section1 .product-part a,
.section1 .product-part a:visited {
  font-family: Oswald;
  font-size: 1.6rem;
}
@media screen and (max-width: 1300px) {
  .section1 .product-part a,
  .section1 .product-part a:visited {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1100px) {
  .section1 .product-part a,
  .section1 .product-part a:visited {
    font-size: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .section1 .product-part a,
  .section1 .product-part a:visited {
    font-size: 0.8rem;
  }
}
.section1 .product-part #link1 {
  color: #da9cc0;
}
.section1 .product-part #link2 {
  color: #9e7dcf;
}
.section1 .product-part #link3 {
  color: #cdc5c5;
}
.section1 .command {
  margin: 40px auto;
  padding: 40px 80px;
  background: #8b8b8b;
  border-radius: 50px;
  width: 80%;
}
@media screen and (max-width: 800px) {
  .section1 .command {
    padding: 40px;
  }
}
.section1 .command h2 {
  font-family: Merri;
  color: #161616;
  text-transform: uppercase;
  font-size: 2rem;
}
@media screen and (max-width: 650px) {
  .section1 .command h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .section1 .command h2 {
    font-size: 1.2rem;
  }
}
.section1 .command p {
  margin: 20px auto 40px;
  font-family: Oswald;
  font-size: 1.3rem;
  color: #161616;
}
@media screen and (max-width: 650px) {
  .section1 .command p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .section1 .command p {
    font-size: 0.8rem;
  }
}
.section1 .command ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section1 .command ul li {
  list-style: none;
  color: #161616;
  font-size: 1.5rem;
  font-family: Oswald;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .section1 .command ul li {
    font-size: 0.8rem;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 450px) {
  .section1 .command ul li {
    font-size: 0.6rem;
  }
}
.section1 .command ul li i {
  margin-right: 20px;
}
.section1 .information {
  color: #ededed;
  height: 400px;
  padding: 40px;
}
.section1 .information h2 {
  font-size: 2rem;
  font-family: Merri;
  text-transform: uppercase;
}

.section3 {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
}
@media screen and (max-width: 1000px) {
  .section3 {
    display: block;
  }
}
.section3 .part1,
.section3 .part2,
.section3 .part3 {
  width: 27%;
  margin: 0 auto;
  height: 400px;
  margin-bottom: 80px;
  border-radius: 50px;
  background: #8b8b8b;
}
@media screen and (max-width: 1000px) {
  .section3 .part1,
  .section3 .part2,
  .section3 .part3 {
    width: 100%;
    max-width: 400px;
  }
}

.product-info {
  width: 80%;
  margin: 0 auto;
}
.product-info .part1,
.product-info .part2,
.product-info .part3 {
  padding: 10px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 400px;
  margin-bottom: 80px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1000px) {
  .product-info .part1,
  .product-info .part2,
  .product-info .part3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.product-info .part1:nth-child(1),
.product-info .part2:nth-child(1),
.product-info .part3:nth-child(1) {
  background: #ddae94;
}
.product-info .part1:nth-child(2),
.product-info .part2:nth-child(2),
.product-info .part3:nth-child(2) {
  background: #da9cc0;
}
.product-info .part1:nth-child(3),
.product-info .part2:nth-child(3),
.product-info .part3:nth-child(3) {
  background: #9e7dcf;
}
.product-info .part1 .product1,
.product-info .part1 .product2,
.product-info .part2 .product1,
.product-info .part2 .product2,
.product-info .part3 .product1,
.product-info .part3 .product2 {
  width: 40%;
  height: 300px;
  background-color: #ededed;
}
@media screen and (max-width: 1000px) {
  .product-info .part1 .product1,
  .product-info .part1 .product2,
  .product-info .part2 .product1,
  .product-info .part2 .product2,
  .product-info .part3 .product1,
  .product-info .part3 .product2 {
    width: 80%;
    margin: 30px;
  }
}

.section5 {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto 80px;
  background: #161616;
  height: 500px;
  border-radius: 50px;
}

footer {
  width: 100%;
  height: 500px;
  background: #8b8b8b;
}/*# sourceMappingURL=index.css.map */