header {
  min-height: 100vh;
  background: $color5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;

  .header-content {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-template-rows: 50% 50%;
    }
    > img {
      width: 80%;
      max-width: 400px;
      margin: 0 auto;
      @media screen and (max-width: 1000px) {
        width: 50%;
      }
    }
    .header-text {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
  a,
  a:visited {
    margin-top: 100px;
    background: -webkit-linear-gradient($color2 10%, $color3 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: translateY(20px);
    }
    @media screen and (max-width: 500px) {
      font-size: 2rem;
      margin-top: 50px;
    }
    @media screen and (max-width: 370px) {
      font-size: 1rem;
      margin-top: 30px;
    }
  }
}
